scipy==1.4.1
numpy==1.19.2
matplotlib==3.2.1
opencv_python
opencv_contrib_python
opencv-python-headless
albumentations==1.2.1
tqdm==4.62.3
Pillow==8.4.0
h5py==3.1.0
terminaltables==3.1.0
packaging==21.3
